.intro.content {
    padding-top: 0;
}

.intro a {
    font-size: 15px;
    padding: 5px;
}

.intro ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

.intro h1 {
    font-weight: 700;
    font-size: 50px;
    margin: 0;
}

.intro h3 {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.intro p {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}

.campus h3 {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.campus p {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}

.campi {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-gap: 8px;
    padding: 16px 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px 50px;
}

.city {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
}

.city button {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #cac8c8;
    border-radius: 6px;
    transition: background-color ease 150ms, color ease 150ms, border-color ease 150ms;
}

.city button:hover {
    /* background-color: #f7f5f5; */
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}

.ocupations h3 {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding-bottom: 4px;
}

.ocupations p {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding-bottom: 24px;
}

.search-bar {
    display: flex;
    border: solid 1px #6d6d6d;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    height: 40px;
}

#text-search {
    border: 0;
    padding: 8px 12px;
    flex: 1;
    height: 100%;
}

#btn-search {
    border: 0;
    height: 100%;
    width: 50px;
    background: #6d6d6d;
}

#btn-search img {
    height: 25px;
    width: 25px;
    background: #6d6d6d;
}

.rectangle {
    height: 150px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #6d6d6d;
    border-top: 0;
    overflow: auto;
    padding: 12px 4px;
}

.item button {
    font-size: 12px;
    background: white;
    border: 1px solid #6d6d6d;
    border-radius: 4px;
    padding: 8px 12px;
    transition: background-color ease 150ms, color ease 150ms, border-color ease 150ms;
}

.item button:hover {
    /* background-color: #6d6d6d; */
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}

.ocup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin: 2px;
}

.ocup-bar {
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center;   */
}

.ocup-bar p {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding-bottom: 16px;
}

.ocup-bar h3 {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.bar {    
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    font-size: 12px;
    position: relative;
    overflow: hidden;
}

.ocupadas {
    height: 100%;
    background-color: #000000;
    text-align: center;
    line-height: 50px;
    color: white;
    z-index: 1;
}

.ofertadas {
    height: 100%;
    background-color: #6d6d6d;
    text-align: center;
    line-height: 50px;
    color: white;
    z-index: 1;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills-container {
    flex: 1;
    height: 150px;
    padding: 10px;
    padding-bottom: 3px;
}

.skills-container p {
    text-align: left;
    font-size: 15px;
}

.skills-container li {
    font-size: 14px;
}

footer {
    font-size: 12px;
    text-align: center;
    padding: 8px 0;
}

footer a {
    text-decoration: underline;
    font-size: 12px;
}

footer a:link {
    color: rgb(0, 0, 0);
}

footer a:visited {
    color: rgb(0, 0, 0);
}

footer a:hover {
    color: #000000;
}